<div class="espace-card" *ngIf="!ghost">
  <div class="zone-fond">
    <div class="image-zone" [style.background-image]="'url('+image+')'"
      [style.background-size]="'cover'"
      [style.background-position]="'center'"></div>
    <div class="action-zone">
      <button mat-raised-button [class]="'mat-raised-button bg-secondary  color-light'"
        (click)="sabonner()">S'abonner</button>
      <button mat-raised-button [class]="'mat-raised-button bg-primary color-light'"
        (click)="voirAbonnes()">Voir abonnés</button>
    </div>
  </div>
  <div class="zone-title">
    <h1 class="titre">{{titre}}</h1>
  </div>
</div>

<div class="espace-card ghost" *ngIf="ghost">
  <div class="zone-fond">
    <div class="image-zone" [style.background-image]="'url('+_image+')'"
         [style.background-size]="'cover'"
         [style.background-position]="'center'"></div>
    <div class="action-zone">
      <span class="ghost button" [style.width]="'100%'"></span>
      <span class="ghost button" [style.width]="'100%'"></span>
    </div>
  </div>
  <div class="zone-title">
    <h1 class="titre">
      <span class="ghost title" [style.width]="'50%'"></span>&nbsp;
      <span class="ghost title" [style.width]="'70%'"></span>&nbsp;
      <span class="ghost title" [style.width]="'40%'"></span>&nbsp;
    </h1>
  </div>
</div>
