<div class="carousel">

  <div class="train-zone">
    <div class="train">
      <div class="item-container">
        <div class="item"></div>
        <div class="item-hover"></div>
      </div>
    </div>
  </div>

  <div class="actions">
    <div class="prev"><i class="fa fa-angle-left"></i></div>
    <div class="next"><i class="fa fa-angle-right"></i></div>
  </div>

</div>

<div class="preview-container">

  <div class="preview-zone">
    <div class="preview-train">
      <div class="preview-item"></div>
    </div>
  </div>

  <div class="thumbnail-zone">
    <div class="thumbnail-train">
      <div class="item-container">
        <div class="item"></div>
      </div>
    </div>
  </div>

  <div class="actions">
    <div class="close"><i class="fa fa-close"></i></div>
    <div class="prev"><i class="fa fa-angle-left"></i></div>
    <div class="next"><i class="fa fa-angle-right"></i></div>
  </div>

</div>
