<div class="site-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-7">
        <div class="row">
          <div class="col-lg-4">
            <div class="footer-aside">
              <div class="footer-aside-title"></div>
              <div class="footer-aside-content">
                <img src="/assets/logos/logo_toget.png" alt="Loge Toget" width="120">
                <p>&copy; TOGETOP 2019</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 menu-footer">
            <div class="footer-aside-title"></div>
              <div class="footer-aside-content">
                <ul class="list-sans-puce">
                  <li><a href>Accueil</a></li>
									<li><a href>A propos</a></li>
									<li><a href>Nous contacter</a></li>
									<li><a href>Aide</a></li>
									<li><a href>Termes & conditions</a></li>
                </ul>
              </div>
          </div>
          <div class="col-lg-4 menu-footer">
            <div class="footer-aside-title"></div>
              <div class="footer-aside-content">
                <ul class="list-sans-puce">
                  <li>
                    <a class="btn-sociale" href target="_blank">
                      <i class="facebook fa fa-facebook"></i>&nbsp; Facebook
                    </a>
                  </li>
                  <li>
                    <a class="btn-sociale" href target="_blank">
                      <i class=" twitter fa fa-twitter"></i>&nbsp; Twitter
                    </a>
                  </li>
                  <li>
                    <a class="btn-sociale" href target="_blank">
                      <i class=" gplus fa fa-google-plus"></i>&nbsp; Google+
                    </a>
                  </li>
                  <li>
                    <a class="btn-sociale" href target="_blank">
                      <i class="linkedin fa fa-linkedin"></i>&nbsp; Linkedin
                    </a>
                  </li>
                </ul>
              </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="row">
          <div class="col-lg-6 menu-footer">
            <div class="footer-aside-title"></div>
              <div class="footer-aside-content newsletter">
                <div class="content">
                  <h6>Souscrire à notre newsletter</h6>
                  <div class="input-group">
                    <input type="email" class="form-control" placeholder="Enter your email">
                    <span class="input-group-btn">
                      <button class="btn" type="submit">OK</button>
                    </span>
                  </div>
                </div>
              </div>
          </div>
          <div class="col-lg-6 menu-footer">
            <div class="footer-aside-title"></div>
              <div class="footer-aside-content">
                <ul class="list-sans-puce">
                  <li>
										<i class="fa fa-map-marker"> </i>&nbsp; Angré, en face du complex sportif, non loin du 22<sup>ème</sup>  arrondissement
									</li>
									<li>
										<i class="fa fa-phone"> </i>&nbsp; +225 20 00 80 04/09 54 72 02
									</li>
									<li>
										<i class="fa fa-envelope"> </i> &nbsp; info@togetop.com
									</li>
									<li>
										<i class="fa fa-globe"> </i> &nbsp; www.togetop.com
									</li>
                </ul>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
