@import '../../../variables';

.inscrit-container{
  display: block;
  position: relative;
  box-shadow: $shadow_1;

  .image-container{
    position: relative;
    width: 100%;
    height: 200px;
    .image-content{
      position: relative;
      width: 100%;
      height: 100%;
    }
  }
  .footer-panel{
    display: block;
    position: relative;
    padding: 15px 10px;
    height: 120px;
    background: $color-light;
    text-align: center;
    .nom{
      font-weight: 400;
      font-size: 1.1rem;
      color: $color-secondary;
    }
    .fonction{
      font-size: 0.9rem;
      color: $color-primary;
    }
    button{

    }
  }
}

@media screen and (min-width: $md) {

}
