$icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
$fa-font-path : '../node_modules/font-awesome/fonts';
$color-primary: #0096cd;
$color-secondary: #db6126;
$color-tertiary: #23b464;
$color-success: #28a745;
$color-danger: #dc3545;
$color-warning: #ffc107;
$color-info: #17a2b8;
$color-light: #f8f9fa;
$color-dark: #343a40;

$xs: 0px;
$sm: 596px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$toolbar_height: 68px;

$shadow_1: 0px 1px 3px $color-dark;
$shadow_2: 0px 1px 3px $color-dark;
$shadow_3: 0px 2px 10px $color-dark;
